.introBackground {
  width: 100%;
  position: relative;
}

.intro {
  width: 70rem;
  margin: 0 auto;
  padding: 92px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .title h2 {
    color: var(--base-title);
    font-size: 48px;
    font-weight: 800;
    line-height: 130%;
  }

  .title p {
    font-size: 20px;
    line-height: 130%;
    color: var(--base-subtitle);
  }
}

.intro::before {
  content: "";
  background: url('./assets/Background.png');
  background-size: cover;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  filter: blur(40px);
}

.texts {
  margin: 0 56px 0 0;
}

.items {
  display: grid;
  grid-template-columns: 15rem 19rem;
  gap: 20px 40px;
  margin-top: 66px;

  .item {
    display: flex;
    align-items: center;

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      background: var(--yellow-dark);
    }
  }
}

.coffeeList {
  width: 70rem;
  margin: 0 auto;

  h3 {
    font-weight: 800;
    font-size: 32px;
  }

  .list {
    margin: 54px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 32px;
  }
}